What does adapt CUBIC to other transports mean?

> * TCPM will soon publish CUBIC as a TCP Proposed Standard. Apply the framework
above to adapt this specification to SCTP, QUIC, and DCCP.

One reading of the statement makes it sounds like you would change QUIC to adapt to the new CUBIC, which doesn't marry up to my understanding of other intents. It also isn't clear if the work of adaption is to be done before or after the publication.

Consider a rewording such as 

TCPM will soon publish CUBIC as a TCP Proposed Standard. Apply the framework
above to adapt this specification [pre | post] publication in order to accomodate SCTP, QUIC, and DCCP.

I don't know what you mean by "modifies QUIC". Certainly one intent would be for a QUIC implementation that uses CUBIC to be fully standards compliant, which is not the case today.

I'm purposely leaving open what the "framework" is, but presumably there's some sort of standards-track document(s) that ratify CUBIC use in the other transports.

The meaning of "Updates" is a famous dispute, but for reference RFC8312bis intends to obsolete RFC8312, the informational cubic draft, and Update 5681, which (among other things) defines NewReno.  I don't have a firm opinion on whether a QUIC CUBIC doc would update 9002 or not.

Right but what I'm saying is that anecdotal surveys show that most QUIC implementations use Cubic already, without any specification specifically for doing that anywhere. They don't seem to care about the algorithm status either. 

Is a sufficient outcome of the work (applying the framework) that no work is actually needed?

Well to some extent we don't need RFCs at all. It's a perfectly valid viewpoint to say that IETF does not, and should not, add value to the congestion control deployment process.

But the same people who are interested in taking Cubic through TCPM would presumably have similar interest in supporting it for more protocols. Furthermore, a standard reference to a modern congestion control simplifies a lot of issues related to approving new ones in IETF.

right. I'm just puzzled what anyone would write up with respect to Cubic and QUIC. I'm not against that but would would it be? 

To be clear I'm not saying nothing should be written but I don't know what the expectations are here. Is the intent to be a bit like TAPS, a bit like the DLPPMTUD draft, something else? Maybe the work is actually "figuring it out" rather than any specific commitment to do something right now.

Without deciding on the WG's approach for it, I personally would start with a very short draft that says

"CUBIC congestion control [draft-ietf-tcpm-rfc8312bis] is standard congestion control algorithm for TCP. This document extends the design to standardize the algorithm for QUIC, SCTP, and DCCP. Implementations MAY choose to implement the algorithm in [CUBIC] instead of the congestion controls defined in [RFC9002], [RFC9260], and [DCCP] respectively."

and then to the extent that the text is insufficient (e.g. DCCP might need an IANA registry entry) make the draft longer. This would probably involve going through 8312bis and seeing where there's a problem. A quick scan suggests that there's not much to do, except s/RFC5681/RFC9002, etc.

But by "framework" I mean the WG has to decide the conditions for this. If there are zero CUBIC implementations for SCTP, for example, can we include it in a standards-track document on the basis that we can't see a way there would be a problem

Also CUBIC is a weird case as it is just about done.

For a new algorithm like BBR, my personal preference would be a core document that describes the algorithm in a protocol-agnostic way. If there is a lot of customization for each protocol, then there could be short drafts that translate the concepts into protocol-specific terms, probably in TCPM/QUIC/TSVWG. If there's not much customization, there could be a very short section in the core document that covers these details. But that's one potential framework that the WG could come up with; there are others.

Agree things would be a lot clearer for new or in-progress work. 

For extant algorithms like CUBIC, it's a bit weird is all. Hystart(++) probably also suffers in a similar way. 

Personally, I don't think we benefit much from busywork of going around saying "you MAY use me in these other specific protocols" .What could scale better is setting out the things that a transport must provide in order order support a CC algorithm. Or the mechanisms of a transport that might break a CC,  leading to a statement that transports must not use a CC unless there is modification to the transport or the CC.